* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-color: #ffd4e1;
  }
  
  /* CAIXONA */
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* IMG, TEXTOS E BOTÃO */
  
  .imagemError {
    margin-top: 100px;
  }
  
  .texts h1 {
    font-weight: 700;
    font-size: 25px;
    margin-left: 35px;
  }
  
  .texts p {
    line-height: 1.7;
    font-weight: 300;
    margin-left: 35px;
    margin-top: 30px;
  }
  
  .button-homepage {
    background-color: black;
    color: white;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 35px;
    margin-bottom: 30px;
    padding: 10px 10px;
  }
  
  /* SECTION QUE SEGURA IMG, TEXT E BOTÃO */
  
  .geral {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  
  /* FOOTER */
  
  .rodape {
    text-align: center;
  }
  
  @media (min-width: 700px) {
    .geral {
      flex-direction: row;
    }
  }
  
  .icon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
  }
  